.account-content{
    text-align: center;
    align-items: center;
}
.account-content button {
    padding: 15px 50px;
}
.user-info{
    width: 50%;
}
.browse-movies{
    width: 100%;
    margin: 10px auto;
}

.card{
    width: 100%;
}
