.movie-card {
    flex-direction: row;
    width: 47%;
    padding: 0px 0px;
    margin: 10px;
    
  }
  .card img {
    width: 50%;
  }
  .movie-details{
    width: 70%;
    margin: 0 auto;
    padding: 5px;
  }